h1 {
  color: blueviolet;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-bottom: 1px solid white;
  font-size: 60px;
}

#imagem1 {
  width: 30%;
  height: auto;
}

body {
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  /*definindo o elemento body como um container flexível.*/
  flex-direction: column;
  /*direção dos eixos do container flexível*/
  justify-content: center;
  /*centralizar verticalmente no container flexivel */
  align-items: center;
  /*centraliza todo o conteúdo verticalmente*/
  min-height: 50vh;
  /*altura minima*/
  background-color: black;
  color: white;
}