input[type='text'] {
    width: 10%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid darkblue;
}

.problema {
    background: red;
    color: cornsilk;
    padding: 5px;
    margin: 5px;
}